spring:
    main:
        show_banner: off
    application:
        name: mvc-app
    profiles:
        active: local-dev

---

spring.profiles: local-dev

spring:
    jpa.show-sql: true
    h2.console.settings.web-allow-others: true
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: update
server:
    port: 88

---

spring.profiles: prod

spring:
    jpa.show-sql: false
    h2.console.settings.web-allow-others: true
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: update
server:
    port: 8888